<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Unicorn
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml"
          href="https://github.githubassets.com/favicons/favicon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    {% block styles %}
    {% endblock %}
</head>
<body>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>

</html>