<div class="bg-gray-800 h-14  px-20 text-white">
    <div class="grid grid-cols-5 gap-8 h-14 " style="line-height: 50px;">
        <div class="col-span-4 bg-gray-800 " >
            <div class="grid grid-cols-5 gap-8 h-14">
                <div class="col-span-1 bg-gray-800 h-14" >
                    <img src="/assets/image/paypal-donate-button.png" alt="" style="max-height: 100%;">
                </div>
                <div class="col-span-4  " >
                    <a href="/permission">权限管理</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 bg-gray-800 ">
            退出
        </div>
    </div>
</div>